[Desktop Entry]
Name=SyncLyrics
GenericName=Synronize Lyrics from Spotify
Comment=Synronize Lyrics from Spotify
Categories=Audio;AudioVideo;
Exec=com.github.onsah.SyncLyrics
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Lyrics;Spotify;